#path_star {
  transform-box: fill-box;
  transform-origin: center;
}

.active {
  cursor: pointer;
  transition: scale 0.2s;
}

.active:hover {
  scale: 1.1;
}

.inactive {
  cursor: not-allowed;
}

.pathFocus,
.focused {
  filter: drop-shadow(0 0 0 4px #fff);
  outline: 3px solid #fff;
  outline-offset: 4px;
}

.module_error_toast {
  font-family: "DM Sans";
  text-align: center;
}

.module_error_toast p:first-child {
  font-weight: bold;
}

.module_error_toast span {
  font-weight: bold;
  color: #b93b3b;
}
