.nav {
  height: 100%;
  background: #1c3a29;
  position: relative;
  left: 0;
  top: 0;
  max-width: 300px;
  z-index: 1;
  padding: 20px;
  padding-right: 20px;
  color: white;
  overflow-y: auto;
  flex-shrink: 0;
  transition: max-width 0.3s ease;
}

.nav.collapsed {
  max-width: 92px;
}

.collapseButton {
  display: flex;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  transition: margin 0.3s ease;
}

.collapseButton.open {
  margin-right: 21.5%;
}

.collapseButton:focus-visible {
  outline: 3px solid #fff;
  outline-offset: 3px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
